In [1]:
### Soru 1:
## numpy kütüphanesini kullanarak üreteceğiniz 3 farklı veri aracılığı ile 
## merkezi eğilim ve dağılım ölçümlerini 
## hem yukarıda verilen matematiksel formülle hem de python'da hazır bulunan (built-in) kodlar aracılığıyla analiz edin!!!

In [5]:
import numpy as np
import pandas as pd
ulkeler=pd.DataFrame()
ulkeler['Nufus']=np.random.normal(8000, 10, 10000)
ulkeler['Yasam Suresi']=np.random.normal(60, 10, 10000)
ulkeler['Toplam Gelir']=np.random.normal(5000, 10, 10000)
ulkeler.head()

         Nufus  Yasam Suresi  Toplam Gelir
0  8023.535946     56.260308   5009.416735
1  8006.711473     72.458523   5006.264681
2  8012.071845     53.194797   5004.419301
3  7997.258133     63.112164   4975.593659
4  7996.395730     53.910709   5001.744000

In [6]:
print(np.mean(ulkeler['Yasam Suresi']))

60.0383133836986

In [7]:
print(np.median(ulkeler['Toplam Gelir']))

4999.954359768228

In [8]:
print(np.var(ulkeler['Nufus'], ddof=1))

101.4258114841809

In [9]:
np.std(ulkeler['Yasam Suresi'], ddof=1)

9.9351723559899

In [10]:
np.std(ulkeler['Yasam Suresi'] ,ddof=1) / np.sqrt(len(ulkeler['Yasam Suresi']))

0.099351723559899